In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/Churn_Modelling.csv")

In [ ]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [ ]:
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [ ]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [ ]:
# to drop features
x=df.iloc[:,3:-1] # here we have removed the features  'RowNumber', 'CustomerId', 'Surname' and exited

In [ ]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [ ]:
y=df.iloc[:,-1] # to select only the last column
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
# pd.get_dummies

#Each variable is converted in as many 0/1 variables as there are different values.
# Columns in the output are each named after a value; if the input is a DataFrame,
# he name of the original variable is prepended to the value.

In [ ]:
x['Geography']

0        France
1         Spain
2        France
3        France
4         Spain
         ...
9995     France
9996     France
9997     France
9998    Germany
9999     France
Name: Geography, Length: 10000, dtype: object

In [ ]:
geography=pd.get_dummies(x["Geography"], drop_first=True)
# here out of the three features we have dropped one feature just to reduce the time of training as model can train fast on 2 columns
# if both 0 1 to france and same for others
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [ ]:
gender=pd.get_dummies(x["Gender"], drop_first=True) # here we keep only one gender and based on that we can know the value of other
gender

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [ ]:
# concate
# to add the new columns to the dataframe
x=pd.concat([x,geography,gender],axis=1)
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [ ]:
x=x.drop(["Geography","Gender"],axis=1) # to drop the columns

In [ ]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split # importing the train test split model
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [ ]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [ ]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
x_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
7389,667,34,5,0.00,2,1,0,163830.64,0,1,0
9275,427,42,1,75681.52,1,1,1,57098.00,1,0,1
2995,535,29,2,112367.34,1,1,0,185630.76,0,0,0
5316,654,40,5,105683.63,1,1,0,173617.09,0,1,1
356,850,57,8,126776.30,2,1,1,132298.49,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9225,594,32,4,120074.97,2,1,1,162961.79,1,0,0
4859,794,22,4,114440.24,1,1,1,107753.07,0,1,0
3264,738,35,5,161274.05,2,1,0,181429.87,0,0,1
9845,590,38,9,0.00,2,1,1,148750.16,0,1,0
2732,623,48,1,108076.33,1,1,0,118855.26,1,0,0

In [ ]:
y_train

7389    0
9275    0
2995    0
5316    0
356     0
       ..
9225    0
4859    0
3264    0
9845    0
2732    1
Name: Exited, Length: 8000, dtype: int64

In [ ]:
x_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
9394,597,35,8,131101.04,1,1,1,192852.67,1,0,0
898,523,40,2,102967.41,1,1,0,128702.10,0,0,0
2398,706,42,8,95386.82,1,1,1,75732.25,0,1,0
5906,788,32,4,112079.58,1,0,0,89368.59,0,0,1
2343,706,38,5,163034.82,2,1,1,135662.17,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1037,625,24,1,0.00,2,1,1,180969.55,0,0,0
2899,586,35,7,0.00,2,1,0,70760.69,0,0,0
9549,578,36,1,157267.95,2,1,0,141533.19,0,1,1
2740,650,34,4,142393.11,1,1,1,11276.48,1,0,1
6690,573,30,8,127406.50,1,1,0,192950.60,1,0,1

In [ ]:
y_test

9394    0
898     1
2398    0
5906    0
2343    0
       ..
1037    0
2899    0
9549    0
2740    0
6690    0
Name: Exited, Length: 2000, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler # to normalize our data to bring the values in a standard format
sc=StandardScaler()
# converts our data into arrays

# can use lable encoding one hot encoding

In [ ]:
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
x_train.shape

(8000, 11)

In [ ]:
x_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

LOGISTIC REGRESSION

In [ ]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression()
LR

LogisticRegression()

In [ ]:
LR.fit(x_train,y_train)

LogisticRegression()

In [ ]:
y_pred=LR.predict(x_test)

In [ ]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
LR.score(x_train,y_train)*100

80.85

In [ ]:
LR.score(x_test,y_test)*100

81.10000000000001

ANN

In [ ]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential # it sequentially executes the layers in the network.
from keras.layers import Dense
# Keras Dense layer is the layer that contains all the neurons that are deeply connected within themselves.
# This means that every neuron in the dense layer takes the input from all the other neurons of the previous layer.
# We can add as many dense layers as required. It is one of the most commonly used layers.

In [ ]:
# Initialising the ANN
classifier = Sequential()

**What is the difference between he and glorot initialization?
Glorot initialization is recommended for tanh- and sigmoid-based neurons, and he  initialization is recommended for ReLU-based neurons.**

In [ ]:
# Adding the input layer and the first hidden layer

#Initializers define the way to set the initial random weights of Keras layers.
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu',input_dim = 11))

# Adding the second hidden layer
# classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu')) # here we have considered bias as 1 and for those 6x1 = 6

# classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform',activation='relu'))

# Adding the output layer
classifier.add(Dense(units= 1, kernel_initializer = 'glorot_uniform', activation = 'sigmoid'))

In [ ]:

# Compiling the ANN
#Computes the cross-entropy loss between true labels and predicted labels.
#Use this cross-entropy loss for binary (0 or 1) classification applications.
#Calculates how often predictions equal labels.

classifier.compile(optimizer = 'Adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
# Fitting the ANN to the Training set
model_history=classifier.fit(x_train, y_train,validation_split=0.33, batch_size = 10,  epochs = 100)

Epoch 1/100
536/536 [==============================] - 3s 3ms/step - loss: 0.6136 - accuracy: 0.6785 - val_loss: 0.4889 - val_accuracy: 0.7936
Epoch 2/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4699 - accuracy: 0.7955 - val_loss: 0.4497 - val_accuracy: 0.7986
Epoch 3/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4409 - accuracy: 0.8000 - val_loss: 0.4339 - val_accuracy: 0.8061
Epoch 4/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4265 - accuracy: 0.8091 - val_loss: 0.4260 - val_accuracy: 0.8080
Epoch 5/100
536/536 [==============================] - 2s 3ms/step - loss: 0.4171 - accuracy: 0.8192 - val_loss: 0.4195 - val_accuracy: 0.8137
Epoch 6/100
536/536 [==============================] - 2s 4ms/step - loss: 0.4083 - accuracy: 0.8261 - val_loss: 0.4125 - val_accuracy: 0.8167
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3997 - accuracy: 0.8341 - val_loss: 0.4045 - val_accuracy: 0.8213
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3904 - accuracy: 0.8429 - val_loss: 0.3971 - val_accuracy: 0.8300
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3821 - accuracy: 0.8477 - val_loss: 0.3894 - val_accuracy: 0.8421
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3749 - accuracy: 0.8502 - val_loss: 0.3834 - val_accuracy: 0.8425
Epoch 11/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3690 - accuracy: 0.8531 - val_loss: 0.3790 - val_accuracy: 0.8432
Epoch 12/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3646 - accuracy: 0.8543 - val_loss: 0.3759 - val_accuracy: 0.8429
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3612 - accuracy: 0.8533 - val_loss: 0.3735 - val_accuracy: 0.8444
Epoch 14/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3589 - accuracy: 0.8545 - val_loss: 0.3719 - val_accuracy: 0.8466
Epoch 15/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3568 - accuracy: 0.8569 - val_loss: 0.3706 - val_accuracy: 0.8459
Epoch 16/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3550 - accuracy: 0.8543 - val_loss: 0.3695 - val_accuracy: 0.8474
Epoch 17/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3539 - accuracy: 0.8563 - val_loss: 0.3689 - val_accuracy: 0.8444
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3526 - accuracy: 0.8554 - val_loss: 0.3683 - val_accuracy: 0.8448
Epoch 19/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3516 - accuracy: 0.8558 - val_loss: 0.3679 - val_accuracy: 0.8463
Epoch 20/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3506 - accuracy: 0.8569 - val_loss: 0.3675 - val_accuracy: 0.8451
Epoch 21/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3498 - accuracy: 0.8565 - val_loss: 0.3676 - val_accuracy: 0.8429
Epoch 22/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3490 - accuracy: 0.8559 - val_loss: 0.3667 - val_accuracy: 0.8470
Epoch 23/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3485 - accuracy: 0.8572 - val_loss: 0.3664 - val_accuracy: 0.8482
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3477 - accuracy: 0.8578 - val_loss: 0.3662 - val_accuracy: 0.8489
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3475 - accuracy: 0.8574 - val_loss: 0.3664 - val_accuracy: 0.8451
Epoch 26/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3470 - accuracy: 0.8572 - val_loss: 0.3662 - val_accuracy: 0.8448
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3465 - accuracy: 0.8576 - val_loss: 0.3657 - val_accuracy: 0.8474
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8572 - val_loss: 0.3658 - val_accuracy: 0.8474
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3458 - accuracy: 0.8586 - val_loss: 0.3658 - val_accuracy: 0.8470
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3453 - accuracy: 0.8571 - val_loss: 0.3656 - val_accuracy: 0.8474
Epoch 31/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3450 - accuracy: 0.8563 - val_loss: 0.3659 - val_accuracy: 0.8444
Epoch 32/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3447 - accuracy: 0.8587 - val_loss: 0.3664 - val_accuracy: 0.8432
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3445 - accuracy: 0.8593 - val_loss: 0.3664 - val_accuracy: 0.8429
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8591 - val_loss: 0.3664 - val_accuracy: 0.8444
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3438 - accuracy: 0.8571 - val_loss: 0.3657 - val_accuracy: 0.8466
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3434 - accuracy: 0.8589 - val_loss: 0.3649 - val_accuracy: 0.8470
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8565 - val_loss: 0.3647 - val_accuracy: 0.8455
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3428 - accuracy: 0.8576 - val_loss: 0.3652 - val_accuracy: 0.8451
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3422 - accuracy: 0.8582 - val_loss: 0.3647 - val_accuracy: 0.8474
Epoch 40/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3416 - accuracy: 0.8593 - val_loss: 0.3650 - val_accuracy: 0.8459
Epoch 41/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3412 - accuracy: 0.8600 - val_loss: 0.3647 - val_accuracy: 0.8474
Epoch 42/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3410 - accuracy: 0.8589 - val_loss: 0.3642 - val_accuracy: 0.8466
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8593 - val_loss: 0.3638 - val_accuracy: 0.8474
Epoch 44/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3402 - accuracy: 0.8600 - val_loss: 0.3639 - val_accuracy: 0.8459
Epoch 45/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3399 - accuracy: 0.8589 - val_loss: 0.3637 - val_accuracy: 0.8466
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8584 - val_loss: 0.3637 - val_accuracy: 0.8482
Epoch 47/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3392 - accuracy: 0.8586 - val_loss: 0.3634 - val_accuracy: 0.8451
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8591 - val_loss: 0.3640 - val_accuracy: 0.8470
Epoch 49/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3388 - accuracy: 0.8600 - val_loss: 0.3634 - val_accuracy: 0.8463
Epoch 50/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8599 - val_loss: 0.3637 - val_accuracy: 0.8474
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8606 - val_loss: 0.3632 - val_accuracy: 0.8463
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8617 - val_loss: 0.3636 - val_accuracy: 0.8451
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8604 - val_loss: 0.3634 - val_accuracy: 0.8463
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8610 - val_loss: 0.3625 - val_accuracy: 0.8474
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8606 - val_loss: 0.3622 - val_accuracy: 0.8482
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3370 - accuracy: 0.8610 - val_loss: 0.3621 - val_accuracy: 0.8463
Epoch 57/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3368 - accuracy: 0.8632 - val_loss: 0.3630 - val_accuracy: 0.8466
Epoch 58/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3365 - accuracy: 0.8625 - val_loss: 0.3623 - val_accuracy: 0.8470
Epoch 59/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3361 - accuracy: 0.8625 - val_loss: 0.3627 - val_accuracy: 0.8463
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8630 - val_loss: 0.3633 - val_accuracy: 0.8459
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8615 - val_loss: 0.3624 - val_accuracy: 0.8474
Epoch 62/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3358 - accuracy: 0.8614 - val_loss: 0.3627 - val_accuracy: 0.8463
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8606 - val_loss: 0.3627 - val_accuracy: 0.8474
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8608 - val_loss: 0.3626 - val_accuracy: 0.8493
Epoch 65/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3349 - accuracy: 0.8630 - val_loss: 0.3628 - val_accuracy: 0.8482
Epoch 66/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3352 - accuracy: 0.8612 - val_loss: 0.3627 - val_accuracy: 0.8470
Epoch 67/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3350 - accuracy: 0.8638 - val_loss: 0.3622 - val_accuracy: 0.8459
Epoch 68/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3347 - accuracy: 0.8632 - val_loss: 0.3626 - val_accuracy: 0.8463
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8630 - val_loss: 0.3631 - val_accuracy: 0.8466
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8610 - val_loss: 0.3627 - val_accuracy: 0.8451
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8614 - val_loss: 0.3631 - val_accuracy: 0.8474
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8636 - val_loss: 0.3625 - val_accuracy: 0.8432
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8621 - val_loss: 0.3626 - val_accuracy: 0.8455
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8623 - val_loss: 0.3627 - val_accuracy: 0.8463
Epoch 75/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3339 - accuracy: 0.8614 - val_loss: 0.3633 - val_accuracy: 0.8440
Epoch 76/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3339 - accuracy: 0.8617 - val_loss: 0.3621 - val_accuracy: 0.8436
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8628 - val_loss: 0.3615 - val_accuracy: 0.8455
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8623 - val_loss: 0.3630 - val_accuracy: 0.8440
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8634 - val_loss: 0.3624 - val_accuracy: 0.8444
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8623 - val_loss: 0.3623 - val_accuracy: 0.8466
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8627 - val_loss: 0.3618 - val_accuracy: 0.8444
Epoch 82/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3333 - accuracy: 0.8621 - val_loss: 0.3618 - val_accuracy: 0.8455
Epoch 83/100
536/536 [==============================] - 5s 10ms/step - loss: 0.3330 - accuracy: 0.8638 - val_loss: 0.3618 - val_accuracy: 0.8463
Epoch 84/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3332 - accuracy: 0.8634 - val_loss: 0.3615 - val_accuracy: 0.8455
Epoch 85/100
536/536 [==============================] - 5s 10ms/step - loss: 0.3329 - accuracy: 0.8656 - val_loss: 0.3620 - val_accuracy: 0.8466
Epoch 86/100
536/536 [==============================] - 6s 10ms/step - loss: 0.3326 - accuracy: 0.8645 - val_loss: 0.3624 - val_accuracy: 0.8448
Epoch 87/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3324 - accuracy: 0.8630 - val_loss: 0.3622 - val_accuracy: 0.8440
Epoch 88/100
536/536 [==============================] - 4s 7ms/step - loss: 0.3328 - accuracy: 0.8628 - val_loss: 0.3628 - val_accuracy: 0.8432
Epoch 89/100
536/536 [==============================] - 3s 5ms/step - loss: 0.3328 - accuracy: 0.8638 - val_loss: 0.3623 - val_accuracy: 0.8459
Epoch 90/100
536/536 [==============================] - 3s 6ms/step - loss: 0.3326 - accuracy: 0.8656 - val_loss: 0.3614 - val_accuracy: 0.8459
Epoch 91/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3321 - accuracy: 0.8638 - val_loss: 0.3608 - val_accuracy: 0.8478
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8627 - val_loss: 0.3615 - val_accuracy: 0.8466
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8651 - val_loss: 0.3608 - val_accuracy: 0.8470
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8649 - val_loss: 0.3613 - val_accuracy: 0.8459
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8649 - val_loss: 0.3616 - val_accuracy: 0.8459
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3321 - accuracy: 0.8655 - val_loss: 0.3609 - val_accuracy: 0.8470
Epoch 97/100
536/536 [==============================] - 2s 4ms/step - loss: 0.3318 - accuracy: 0.8656 - val_loss: 0.3606 - val_accuracy: 0.8489
Epoch 98/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3320 - accuracy: 0.8643 - val_loss: 0.3619 - val_accuracy: 0.8482
Epoch 99/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3321 - accuracy: 0.8636 - val_loss: 0.3610 - val_accuracy: 0.8478
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3320 - accuracy: 0.8643 - val_loss: 0.3621 - val_accuracy: 0.8474

In [ ]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 1)                 7

=================================================================
Total params: 79
Trainable params: 79
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Calculate the Accuracy
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
score

0.811